
.main-container {
  margin-bottom: 85px;
}body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}


.button {
	padding: 10px 40px;
	font-size: 14px;
	color: inherit;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	border-radius: 4px;

	background-color: #fff;

	cursor: pointer;
}

.button-red {
	padding: 10px 40px;

	color: #fff;

	background-color: #ee3643;
}

.button-red:hover {
	background-color: #ca2c37;
}

.button-red:focus,
.button-red:active {
	background-color: #ba2732;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	border: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
/* header */

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 59px;

	background-color: #f4f7f9;
}

.inner-page .main-header {
	margin-bottom: 19px;
}

.main-header-top {
	width: 100%;

	margin-bottom: 46px;
	background-color: #293449;
}

.main-header-top .container {
	display: flex;
	align-items: center;

	min-height: 42px;
}

.main-logo,
.footer-logo {
	position: relative;

	width: 220px;
	height: 42px;

	text-align: center;

	/*box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);*/
  background-color: #ee3643;
}

.main-logo img {
	padding-top: 12px;
}

.main-logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
}

.main-logo:focus,
.main-logo:active,
.footer-logo:focus,
.footer-logo:active {
	background-color: #ba2732;

	outline: none;
}

.main-logo:after,
.footer-logo:after {
	content: "";

	position: absolute;

	bottom: -5px;
	left: 0;

	width: 220px;
	height: 5px;

	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
}

.search-form {
	display: flex;

	width: 270px;
}

.search-form svg {
	position: absolute;
  transform: translate(17px, 12px);
}

.search-form path {
	fill: rgba(255, 255, 255, 0.3);
}

.site-search,
.link-bookmarks,
.link-cart,
.link-checkout,
.site-navigation a {
	font-size: 17px;
	line-height: 18px;
}

.site-search {
	order: 2;
	padding-left: 49px;

	width: 100%;
	height: 40px;

	color: #ffffff;

	background-color: transparent;
	border: none;

	outline: none;
}

.search-form .site-search::placeholder {
  color: inherit;
}

.search-form:hover,
.link-bookmarks:hover,
.link-cart:hover,
.link-checkout:hover {
	background-color: #212a3a;
}

.search-form:hover path {
	fill: rgba(255, 255, 255, 1.0);
}

.site-search:focus,
.site-search:active,
.site-search:focus + button,
.site-search:active + button {
	color: inherit;

	background-color: #ffffff;
}

.site-search:focus ~ svg path,
.site-search:active ~ svg path {
	fill: rgba(238, 54, 67, 1.0);
}

.search-form button {
	padding: 0;

	border: none;
	background: transparent;
	cursor: pointer;

	outline: none;
}


.link-bookmarks,
.link-cart,
.link-checkout {
	position: relative;

	padding: 12px 0;

	width: 150px;
	text-align: center;

	outline: none;
}

.link-bookmarks:focus,
.link-cart:focus,
.link-checkout:focus,
.link-bookmarks:active,
.link-cart:active,
.link-checkout:active {
	color: rgba(255, 255, 255, 0.6);

	background-color: #161d29;
}

.link-checkout:hover {
	background-color: #5fbb2d;
}

.link-checkout:focus,
.link-checkout:active {
	color: rgba(255, 255, 255, 0.5);

	background-color: #518534;
}

.link-bookmarks,
.link-cart,
.link-checkout,
.site-navigation a {
  color: #ffffff;
}

.link-bookmarks,
.link-cart {
	padding-left: 20px;

	width: 130px;
}

.link-checkout {
	background-color: #63a63e;
	width: 150px;
}

.link-cart.full,
.link-cart.full:hover,
.link-cart.full:focus {
	background-color: #ee3643;
}

.link-bookmarks::before,
.link-cart::before {
	content: "";

	position: absolute;

	opacity: 0.3;
}

.link-bookmarks::before {
	left: 16px;

	width: 14px;
	height: 16px;

	background: url("../img/icon-bookmark.svg") no-repeat;
}

.link-cart::before {
	left: 16px;

	width: 15px;
	height: 15px;

	background: url("../img/icon-cart.svg") no-repeat;
}

.link-bookmarks:hover::before,
.link-cart:hover::before {
	opacity: 1;
}

.main-header-bottom {
	display: flex;
	flex-direction: column;
}

.main-header-bottom nav {
	margin-bottom: 60px;
}

.main-header-bottom .site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding: 0 10px;
  margin: 0;
}

.information-block {
	display: flex;
	justify-content: space-between;

	margin-bottom: 39px;
}

.descriptor{
  margin: 0;
  padding-left: 53px;

  width: 196px;
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  text-align: left;
  letter-spacing: -.5px;
  color: #ee3643;
}

.main-header-contacts {
  margin-left: 10px;
  margin-top: 15px;
	width: 270px;
	text-align: center;
}

.main-header-contacts .main-header-phone {
	display: block;
	box-sizing: border-box;
	padding: 10px 0;
	padding-left: 20px;
	margin-bottom: 4px;

  height: 45px;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: solid 3px #ffffff;
}

.main-header-contacts .main-header-address {
	margin: 0;
  margin-top: 10px;
  font-size: 14px;
	color: #32425c;
}
.phone-button {
	position: relative;
	border: 3px solid #ffffff;
	border-radius: 0;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 8px;
	padding-left: 70px;

	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
}
a.phone-button::before {
	content: '';
	position: absolute;
	width: 19px;
	height: 19px;
	top: 11px;
	left: 12px;
	z-index: 10;
  background: url("../img/icon-phone.svg") no-repeat transparent;
}

.user-navigation-wrapper {
	display: flex;
	flex-direction: column;
	width: 308px;
}

.user-navigation {
	display: flex;
	justify-content: space-between;

	padding: 0;
	margin: 0;

	font-size: 21px;
	line-height: 21px;
}

.user-navigation,
.user-subnavigation,
.site-navigation {
	list-style: none;
}

.user-navigation a {
	display: block;
	padding: 12px 0px;

	color: inherit;

	background-color: #fff;
	outline: none;
}

.user-navigation .login-link {
	padding-left: 20px;
	padding-right: 26px;
	margin-left: 30px;
}

.login-link svg {
	transform: translate(-7px, 2px);
}

.login-link:hover path {
	fill: #2e405c;
}

.user-navigation .registration-link {
	padding: 12px 24px;
	margin-left: 10px;
}

.user-navigation .account-link {
	width: 205px;
	padding-left: 45px;
	margin-left: 10px;
}

.user-navigation .logout-link {
	width: 48px;
	height: 21px;

	margin-left: 0px;

	background-color: #fff;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:focus,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation .account-link:hover {
	color: inherit;
}

.account-link:hover path,
.logout-link:hover path {
	fill: #2e405c;
}

.user-navigation .account-link:focus,
.user-subnavigation a:focus,
.user-navigation .account-link:active,
.user-subnavigation a:active {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.account-link svg {
	position: absolute;
	transform: translate(-32px, 0px);
}

.logout-link svg {
	position: absolute;
	transform: translate(17px, 2px);
}

.user-navigation .logout-link::after {
	content: "";

	background: url(../img/icon-logout.svg) no-repeat;
}

.user-subnavigation {
	display: flex;

	padding-top: 4px;
	padding-left: 27px;
	margin: 0;

	font-size: 16px;
}

.user-subnavigation a {
	color: #32425c;
	text-decoration: underline;
}

.user-subnavigation .separate-point::before {
	content: "\2022";
	color: rgb(50, 66, 92);
}

.user-subnavigation a:hover{
	color: #ee3643;
}

.site-navigation {
	box-shadow: inset 0px -5px 0 0 rgb(41, 52, 73);
  background-color: #32425c;
}

.site-navigation a {
	display: block;
	padding: 21px 30px;

	outline: none;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus,
.site-navigation a:active {
	background-color: #1d2739;
}

.user-subnavigation-orders {
	padding-right: 15px;
}

.user-subnavigation-office {
	padding-left: 9px;
}


.suggestion-list {
  position: relative;
  height: 409px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
.suggestion-list h3{

  padding-left: 23px;
  font-family: Cuprum;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.suggestion-item-material {
  position: relative;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;

}

.suggestion-item-tooling {
  position: relative;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
}
.suggestion-item-technique {
  position: relative;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
}

.suggestion-item-sale {
  position: absolute;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
  left: 640px;
  top: 143px;
}
.suggestion-item-delivery {
  position: absolute;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
  left: 640px;
  top:300px;
}
.suggestion-item-slider {
  position: absolute;
  display: block;
  width: 620px;
  height: 266px;
  top:130px;
}

a {
  text-decoration: none;
}

.button-offers {
  position: absolute;
  top: 63px;
  left: 25px;
  display: block;
  width: 135px;
  padding: 12px 0;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: #000000;
  opacity: 0.1;
  border: none;
}
.button-offers:hover,
.button-offers:focus {
  background-color: #000000;
  opacity: 0.2;
}

.button-offers:active {
  background-color: #000000;
  opacity: 0.3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  width: 620px;
  height: 266px;
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 100;

  width: 40px;
  height: 13px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 3px;

  border-radius: 20%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border-radius: 20%;
}

.slider-list {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  /*padding: 26px 0 22px 0;*/
}
/*.container {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

.slider-item:nth-child(1){
  width: 620px;
  height: 266px;
  background-image: url("../img/perfo.jpg");

  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease;
}

.slider-item:nth-child(2) {
  width: 620px;
  height: 266px;
  background-image: url("../img/dreli.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1){
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: -3px;

  background-color: #ee3643;
  border-radius: 20%;
}

.slider-item h3 {
  margin: 0;
  padding-top: 26px;
  padding-left: 26px;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-item p {
  padding-left: 26px;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;

  margin: 0;
  margin-bottom: 32px;
}
.slider-item::after {
  content: "";
  position: absolute;
  top: 114px;
  left: 25px;
  z-index: 1;

  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
}
.slider-item::before {
  content: "";
  position: absolute;
  top: 114px;
  right: 25px;
  z-index: 1;

  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right.svg");
}

.button {
  display: block;
  width: 195px;

  padding: 14px 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  font-family: Cuprum;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}
.slider-item-button {
  position: absolute;
  top: 206px;
  left: 25px;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-catalog h2 {
  padding-left: 20px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.title-catalog {
  position: relative;
  margin: 0;
  margin-bottom: 55px;
  padding: 0 10px;
  width: 920px;
  height: 89px;

  background-color: #f9f5f0;
}
.title-catalog-gray{
  background-color: #f2f6f8;

}
.title-catalog-gray h2{
  padding: 0;
  padding: 32px 30px;
  margin: 0;
}


.button-catalog {
  width: 253px;
  position: absolute;
  right: 24px;
  top: 25px;
  display: block;
  padding: 12px 0;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

/*
.catalog-items .row {
  margin-left: -20px;
}*/
.catalog-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}
.catalog-item {
  position: relative;

  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;
  min-height: 318px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;

}
.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}
.catalog-item {
  font-size: 16px;
}
.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 128px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}
.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}
.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus{
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}
.catalog-item .actions .buy:active{
  background-color: #518534;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus{
  border: solid 3px #32425c;
}

.catalog-item .actions .bookmark:active{
  opacity: 0.3;
  border: solid 3px #32425c;
}
.catalog-item .actions {
  display: none;
}
.catalog-item:hover .actions {
  display: block;
}
/*.catalog-item .image {
  width: 218px;
  height: 168px;
}*/
.catalog-item .image img {
  max-width: 100%;
}
.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}
.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}
.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}





.brands {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brands-bosch:hover,
.brands-bosch:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-bosch:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-makita:hover,
.brands-makita:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-makita:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.brands-dewalt:hover,
.brands-dewalt:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-dewalt:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-interskol:hover,
.brands-interskol:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-interskol:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-hitachi:hover,
.brands-hitachi:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-hitachi:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-lg:hover,
.brands-lg:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-lg:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.brands-aeg:hover,
.brands-aeg:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-aeg:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-matabo:hover,
.brands-matabo:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-matabo:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}


.title-brands h2 {
  padding-left: 16px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.title-brands {
  position: relative;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 10px;
  width: 920px;
  height: 89px;

  background-color: #f9f5f0;
}

.button-brands {
  width: 253px;
  position: absolute;
  right: 24px;
  top: 25px;
  display: block;
  padding: 12px 0;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 20px auto;
  padding: 0;
}

.brands-bosch {
  display: block;
  width: 126px;
  height: 37px;
  padding: 51px 47px 55px 47px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-makita {
  display: block;
  width: 123px;
  height: 40px;
  padding: 50px 49px 55px 48px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-dewalt {
  display: block;
  width: 146px;
  height: 44px;
  padding: 48px 37px 53px 37px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-interskol {
  display: block;
  width: 200px;
  height: 88px;
  padding: 21px 11px 36px 9px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.brands-hitachi {
  display: block;
  width: 169px;
  height: 31px;
  padding: 58px 23px 56px 28px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-lg {
  display: block;
  width: 121px;
  height: 73px;
  padding: 35px 51px 37px 48px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-aeg {
  display: block;
  width: 151px;
  height: 96px;
  padding: 23px 34px 26px 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-matabo {
  display: block;
  width: 204px;
  height: 69px;
  padding: 34px 6px 42px 10px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

  .services-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
  }
  .dervices-wrapper{
    width: 100%;
    background-color: #f4f7f9;
  }
  .services {
    display: flex;
    justify-content: space-between;
    position: relative;

  }


  .controls-services{
    position: absolute;
  }

  .services-container h2 {
    padding-top: 68px;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000
  }


  .controls-services label{
    position: relative;
    display:block;
    width: 240px;
    height: 61px;
    padding-left:23px;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #32425c;
    cursor: pointer;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

  }
  .controls-services label:hover,
  .controls-services label:focus,
  .controls-services label:active{
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #32425c;
  }


  .services-list {

    margin: 0;
    padding: 0;

    list-style: none;
  }
  .services-item {

    display: none;

  }

  .services-item:nth-child(1) {
    width: 940px;
    height: 266px;

    background-image: url("../img/slider-delivery.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
  }

  .services-item:nth-child(2) {
    width: 940px;
    height: 266px;
    background-image: url("../img/slider-guarantee.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
  }

  .services-item:nth-child(3) {
    width: 940px;
    height: 266px;
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
  }

  #prod-1:checked ~ .services-list .services-item:nth-child(1) {
    display: block;
  }

  #prod-2:checked ~ .services-list .services-item:nth-child(2) {
    display: block;
  }

  #prod-3:checked ~ .services-list .services-item:nth-child(3) {
    display: block;
  }



  .services-item h3 {
    margin: 0;
    padding: 0;
    margin-left: 320px;

    font-family: Cuprum;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #32425c;

  }

  .services-item p {
    max-width: 275px;
    margin: 0;
    margin-left: 320px;
    font-family: PTSans;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }







.company-wrapper {
  display: flex;
  justify-content: space-between;


  margin-bottom: 86px;
  color: #000000;
  background-color: #ffffff;
}
.company-wrapper h2 {
  margin: 0;
  margin-bottom: 38px;

  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.about-company {
  width: 519px;
}
.company-wrapper p {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.dash {
  list-style: none;
  padding:0;

}
.dash li{
  position: relative;

  padding-left: 36px;
}
.dash li:before {
  content: "";

  position: absolute;
  top: 9px;
  left: 1px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.dash li {
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.button-co {
  display: block;
  width: 220px;
  padding: 14px 0;

  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}
.contacts {
  width: 300px;
}

.contacts {
  width: 300px;
}
.button-contacts {
  display: block;
  width: 300px;
  padding: 14px 0;

  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}


.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 11px;
  right: -25px;
  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}
.breadcrumbs-current::after {
  display: none;
}
.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}
.range-filter {
  width: 220px;
  margin-top: 21px;
}
.filter-item legend {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #f7f3ec;
  width: 60px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;

}



.filters {
  width: 220px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  border: none;
}
.filters fieldset:first-child {
  margin-bottom: 35px;
}

.filters legend {
  margin-bottom: 21px;

  font-family: PTSans,sans-serif ;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.33;
}
.filter-option {
  margin-bottom: 20px;
  padding-left: 45px;


}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}


.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 22px;
  height: 22px;
  border: 2px solid #c5c5c5;
  border-radius: 3px;
}
.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;


  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: -1px;

  width: 16px;
  height: 16px;

  border: 2px solid #c5c5c5;
  border-radius: 50%;
}


.filters-input:disabled + label {
  color: #c5c5c5; ;

  opacity: 0.5;
}

.filters-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -36px;

  width: 8px;
  height: 8px;

  background-color: #c5c5c5;
  border-radius: 50%;
}







.catalog-items span{
  color: #000000;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}
.pagination-item {
  margin-right: 5px;
}
.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.wrapper-footer {
  width: 100%;
  background-color: #32425c;
}
.wrapper-bottom {
  width: 100%;
  background-color: #293449;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;
  background-color: #32425c;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  background-color: #32425c;
}
.footer-middle p {
  margin: 0;
  padding: 0;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f3f7f9;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 547px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.footer-navigation a {
  display: block;
  padding: 42px 30px;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f1f5f7;
}
.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}
.footer-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-suggestion-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 490px;
  list-style: none;
  margin: 0 auto;
  margin-left: 80px;
  padding: 0;

}
.footer-suggestion-list a {
  display: block;
  padding: 22px 31px;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-transform: capitalize;
  text-align: left;
  color: #ffd180;
}

.footer-suggestion-list a:hover,
.footer-suggestion-list a:focus {
  text-decoration: underline;
}
.footer-suggestion-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom ul {
  display: flex;
  width: 132px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}
.logo-footer a {
  display: block;
  width: 220px;
  height: 18px;
  padding-top: 13px;
  padding-bottom: 17px;

  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
}
.logo-footer a:hover,
.logo-footer a:focus {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
  display: block;
  width: 220px;
  height: 18px;
  padding-top: 13px;
  padding-bottom: 17px;
}
.logo-footer a:active {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
  display: block;
  width: 220px;
  height: 18px;
  padding-top: 13px;
  padding-bottom: 17px;
}

.footer-copyright {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-mail a {
  padding-right: 53px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffd180;
}
.footer-mail a:hover,
.footer-mail a:focus {
  text-decoration: underline;
}
.footer-mail a:active {
  color: #ee3643;
  text-decoration: none;
}

span {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-development b {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.footer-development a {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffd180;
}
.footer-development a:hover,
.footer-development a:focus {
  text-decoration: underline;
}
.footer-development a:active {
  color: #ee3643;
  text-decoration: none;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.modal {
  display: block;
  width: 620px;
  height: 430px;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 150px;
  padding-left: 80px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  border-top: 7px solid #ee3643;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

