body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}


.button {
	padding: 10px 40px;
	font-size: 14px;
	color: inherit;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	border-radius: 4px;

	background-color: #fff;

	cursor: pointer;
}

.button-red {
	padding: 10px 40px;

	color: #fff;

	background-color: #ee3643;
}

.button-red:hover {
	background-color: #ca2c37;
}

.button-red:focus,
.button-red:active {
	background-color: #ba2732;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	border: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
/* header */

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 59px;

	background-color: #f4f7f9;
}

.inner-page .main-header {
	margin-bottom: 19px;
}
.main-container {
  margin-bottom: 85px;
}
.main-header-top {
	width: 100%;

	margin-bottom: 46px;
	background-color: #293449;
}

.main-header-top .container {
	display: flex;
	align-items: center;

	min-height: 42px;
}

.main-logo,
.footer-logo {
	position: relative;

	width: 220px;
	height: 42px;

	text-align: center;

	/*box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);*/
  background-color: #ee3643;
}

.main-logo img {
	padding-top: 12px;
}

.main-logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
}

.main-logo:focus,
.main-logo:active,
.footer-logo:focus,
.footer-logo:active {
	background-color: #ba2732;

	outline: none;
}

.main-logo:after,
.footer-logo:after {
	content: "";

	position: absolute;

	bottom: -5px;
	left: 0;

	width: 220px;
	height: 5px;

	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
}

.search-form {
	display: flex;

	width: 270px;
}

.search-form svg {
	position: absolute;
  transform: translate(17px, 12px);
}

.search-form path {
	fill: rgba(255, 255, 255, 0.3);
}

.site-search,
.link-bookmarks,
.link-cart,
.link-checkout,
.site-navigation a {
	font-size: 17px;
	line-height: 18px;
}

.site-search {
	order: 2;
	padding-left: 49px;

	width: 100%;
	height: 40px;

	color: #ffffff;

	background-color: transparent;
	border: none;

	outline: none;
}

.search-form .site-search::placeholder {
  color: inherit;
}

.search-form:hover,
.link-bookmarks:hover,
.link-cart:hover,
.link-checkout:hover {
	background-color: #212a3a;
}

.search-form:hover path {
	fill: rgba(255, 255, 255, 1.0);
}

.site-search:focus,
.site-search:active,
.site-search:focus + button,
.site-search:active + button {
	color: inherit;

	background-color: #ffffff;
}

.site-search:focus ~ svg path,
.site-search:active ~ svg path {
	fill: rgba(238, 54, 67, 1.0);
}

.search-form button {
	padding: 0;

	border: none;
	background: transparent;
	cursor: pointer;

	outline: none;
}


.link-bookmarks,
.link-cart,
.link-checkout {
	position: relative;

	padding: 12px 0;

	width: 150px;
	text-align: center;

	outline: none;
}

.link-bookmarks:focus,
.link-cart:focus,
.link-checkout:focus,
.link-bookmarks:active,
.link-cart:active,
.link-checkout:active {
	color: rgba(255, 255, 255, 0.6);

	background-color: #161d29;
}

.link-checkout:hover {
	background-color: #5fbb2d;
}

.link-checkout:focus,
.link-checkout:active {
	color: rgba(255, 255, 255, 0.5);

	background-color: #518534;
}

.link-bookmarks,
.link-cart,
.link-checkout,
.site-navigation a {
  color: #ffffff;
}

.link-bookmarks,
.link-cart {
	padding-left: 20px;

	width: 130px;
}

.link-checkout {
	background-color: #63a63e;
	width: 150px;
}

.link-cart.full,
.link-cart.full:hover,
.link-cart.full:focus {
	background-color: #ee3643;
}

.link-bookmarks::before,
.link-cart::before {
	content: "";

	position: absolute;

	opacity: 0.3;
}

.link-bookmarks::before {
	left: 16px;

	width: 14px;
	height: 16px;

	background: url("../img/icon-bookmark.svg") no-repeat;
}

.link-cart::before {
	left: 16px;

	width: 15px;
	height: 15px;

	background: url("../img/icon-cart.svg") no-repeat;
}

.link-bookmarks:hover::before,
.link-cart:hover::before {
	opacity: 1;
}

.main-header-bottom {
	display: flex;
	flex-direction: column;
}

.main-header-bottom nav {
	margin-bottom: 60px;
}

.main-header-bottom .site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding: 0 10px;
  margin: 0;
}

.information-block {
	display: flex;
	justify-content: space-between;

	margin-bottom: 39px;
}

.descriptor{
  margin: 0;
  padding-left: 53px;

  width: 196px;
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  text-align: left;
  letter-spacing: -.5px;
  color: #ee3643;
}

.main-header-contacts {
  margin-left: 10px;
  margin-top: 15px;
	width: 270px;
	text-align: center;
}

.main-header-contacts .main-header-phone {
	display: block;
	box-sizing: border-box;
	padding: 10px 0;
	padding-left: 20px;
	margin-bottom: 4px;

  height: 45px;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: solid 3px #ffffff;
}

.main-header-contacts .main-header-address {
	margin: 0;
  margin-top: 10px;
  font-size: 14px;
	color: #32425c;
}
.phone-button {
	position: relative;
	border: 3px solid #ffffff;
	border-radius: 0;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 8px;
	padding-left: 70px;

	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
}
a.phone-button::before {
	content: '';
	position: absolute;
	width: 19px;
	height: 19px;
	top: 11px;
	left: 12px;
	z-index: 10;
  background: url("../img/icon-phone.svg") no-repeat transparent;
}

.user-navigation-wrapper {
	display: flex;
	flex-direction: column;
	width: 308px;
}

.user-navigation {
	display: flex;
	justify-content: space-between;

	padding: 0;
	margin: 0;

	font-size: 21px;
	line-height: 21px;
}

.user-navigation,
.user-subnavigation,
.site-navigation {
	list-style: none;
}

.user-navigation a {
	display: block;
	padding: 12px 0px;

	color: inherit;

	background-color: #fff;
	outline: none;
}

.user-navigation .login-link {
	padding-left: 20px;
	padding-right: 26px;
	margin-left: 30px;
}

.login-link svg {
	transform: translate(-7px, 2px);
}

.login-link:hover path {
	fill: #2e405c;
}

.user-navigation .registration-link {
	padding: 12px 24px;
	margin-left: 10px;
}

.user-navigation .account-link {
	width: 205px;
	padding-left: 45px;
	margin-left: 10px;
}

.user-navigation .logout-link {
	width: 48px;
	height: 21px;

	margin-left: 0px;

	background-color: #fff;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:focus,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation .account-link:hover {
	color: inherit;
}

.account-link:hover path,
.logout-link:hover path {
	fill: #2e405c;
}

.user-navigation .account-link:focus,
.user-subnavigation a:focus,
.user-navigation .account-link:active,
.user-subnavigation a:active {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.account-link svg {
	position: absolute;
	transform: translate(-32px, 0px);
}

.logout-link svg {
	position: absolute;
	transform: translate(17px, 2px);
}

.user-navigation .logout-link::after {
	content: "";

	background: url(../img/icon-logout.svg) no-repeat;
}

.user-subnavigation {
	display: flex;

	padding-top: 4px;
	padding-left: 27px;
	margin: 0;

	font-size: 16px;
}

.user-subnavigation a {
	color: #32425c;
	text-decoration: underline;
}

.user-subnavigation .separate-point::before {
	content: "\2022";
	color: rgb(50, 66, 92);
}

.user-subnavigation a:hover{
	color: #ee3643;
}

.site-navigation {
	box-shadow: inset 0px -5px 0 0 rgb(41, 52, 73);
  background-color: #32425c;
}

.site-navigation a {
	display: block;
	padding: 21px 30px;

	outline: none;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus,
.site-navigation a:active {
	background-color: #1d2739;
}

.user-subnavigation-orders {
	padding-right: 15px;
}

.user-subnavigation-office {
	padding-left: 9px;
}


.suggestion-list {
  position: relative;
  height: 409px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
.suggestion-list h3{

  padding-left: 23px;
  font-family: Cuprum;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.suggestion-item-material {
  position: relative;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;

}
.ribbons {
	position: relative;
}

.ribbon {
	position: absolute;
	top: -96px;
	right: -21px;

	border-style: solid;
	border-top-width: 27px;
	border-left-width: 40px;
	border-right-width: 40px;
	border-bottom-width: 0px;

	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;

	transform: rotate(45deg);
}

.ribbon span {
	position: absolute;
	top: -28px;
	right: -15px;
}

.ribbon.red {
	border-color: #f00;
}
.catalog-item .ribbon {
	top: -311px;
}


.suggestion-item-tooling {
  position: relative;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
}
.suggestion-item-technique {
  position: relative;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
}

.suggestion-item-sale {
  position: absolute;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
  left: 640px;
  top: 143px;
}
.suggestion-item-delivery {
  position: absolute;
  display: block;
  width: 300px;
  height: 123px;
  list-style: none;
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
  left: 640px;
  top:288px;
}
.suggestion-item-slider {
  position: absolute;
  display: block;
  width: 620px;
  height: 266px;
  top:145px;
}

a {
  text-decoration: none;
}

.button-offers {
  position: absolute;
  top: 63px;
  left: 25px;
  display: block;
  width: 135px;
  padding: 12px 0;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  color: #f0f8ff;

	background-color: #0000001a;
  border: none;
  border-radius: 3px;
}
.button-offers:hover,
.button-offers:focus {
  background-color: rgb(0, 0, 0, 0.2);
}

.button-offers:active {
  background-color: rgb(0, 0, 0, 0.2);
}
.suggestion-item-material.corner-new::after {
  top: 0;
  right: 0;
}
.corner-new::after {
  content: '???????';
  font-size: 0;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  z-index: 20;
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  width: 620px;
  height: 266px;
  position: relative;
}
.slider-arrows button{
  position: absolute;
  background: none;
}

.slider-arrows-l::before,
.slider-arrows-r::before {
  content: "";

	position: absolute;
	top: -152px;

	width: 22px;
	height: 40px;
}
.slider-arrows-l::before {
  left: 25px;

	background-image: url("../img/icon-left.svg");
	background-repeat: no-repeat;
}
.slider-arrows-r::before {
  left: 578px;

	background-image: url("../img/icon-right.svg");
	background-repeat: no-repeat;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 100;

  width: 40px;
  height: 13px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 3px;

  border-radius: 20%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border-radius: 20%;
}

.slider-list {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
}


.slider-item:nth-child(1){
  width: 620px;
  height: 266px;
  background-image: url("../img/perfo.jpg");

  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease;
}

.slider-item:nth-child(2) {
  width: 620px;
  height: 266px;
  background-image: url("../img/dreli.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1){
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: -3px;

  background-color: #ee3643;
  border-radius: 20%;
}

.slider-item h3 {
  margin: 0;
  padding-top: 26px;
  padding-left: 26px;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-item p {
  padding-left: 26px;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;

  margin: 0;
  margin-bottom: 32px;
}
.slider-item::after {
  content: "";
  position: absolute;
  top: 114px;
  left: 25px;
  z-index: 1;

  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
}
.slider-item::before {
  content: "";
  position: absolute;
  top: 114px;
  right: 25px;
  z-index: 1;

  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right.svg");
}

.button {
  display: block;
  width: 195px;

  padding: 14px 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  font-family: Cuprum;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}
.slider-item-button {
  position: absolute;
  top: 206px;
  left: 25px;
}

.popular-manufacturers {
	margin-bottom: 60px;
}

.popular-products-header,
.popular-manufacturers-header {
	display: flex;
	justify-content: space-between;

	margin-bottom: 21px;

	background-color: #f9f5f0;
}

.popular-products-header h2,
.popular-manufacturers-header h2 {
	margin-top: 29px;
	margin-bottom: 30px;
}

.popular-products-header .button-red,
.popular-manufacturers-header .button-red {
	align-self: center;

	margin: 0 24px 0 0;
}

.popular-products-header .button-red {
	padding-left: 54px;
	padding-right: 54px;
}

.popular-manufacturers-header .button-red {
	padding-left: 69px;
	padding-right: 69px;
}

.popular-products {
	display: flex;
	flex-direction: column;
}

.popular-products h2,
.popular-manufacturers h2 {
	padding-left: 28px;

	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 30px;
	color: #32425c;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.inner-page .catalog-list {
	margin-bottom: 33px;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border: solid 1px #e5e5e5;
	background-color: #ffffff;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-right: 20px;

	width: 220px;
	height: 318px;

	font-family: "PTSans", Arial, sans-serif;
	font-weight: bold;
	text-align: center;

	overflow: hidden;
}

.catalog-item:nth-child(4),
.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.inner-page .catalog-item:nth-child(4n) {
  margin-right: 20px;
}

.catalog-item h3 {
	margin: 0px 0 12px 0;
	font-size: 18px;
	line-height: 20px;
}

.catalog-item-image {
	margin: 0;
}

.price,
.old-price {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
}

.price {
	margin: 0 0 18px 0;
	padding: 12px 0;
	background-image: url(../img/red-button.svg);
	background-position: 42px 1px;
	background-repeat: no-repeat;
}

.old-price {
	height: 30px;
	margin: 0;

	color: #999999;
	text-decoration: line-through;
}

.purchase-menu {
	position: absolute;
	top: 42px;
	left: 41px;
	padding: 0;

	display: none;
	list-style: none;
}

.purchase-menu li {
	width: 135px;
  margin-bottom: 8px;
}

.purchase-menu .button-buy,
.purchase-menu .button-bookmarks {
	width: 100%;

	border-radius: 4px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.purchase-menu .button-buy {
	padding: 10px 0;

	color: #ffffff;

	box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.purchase-menu .button-buy:hover {
	background-color: #5fbb2d;
	cursor: pointer;
	outline: none;
}

.purchase-menu .button-buy:focus,
.purchase-menu .button-buy:active {
  background-color: #518534;
}

.purchase-menu .button-bookmarks {
	padding: 7px 0;

	color: #32425c;

	border: solid 3px #63a63e;
	background-color: #ffffff;
}

.purchase-menu .button-bookmarks:hover {
  border: solid 3px #32425c;
	cursor: pointer;
	outline: none;
}

.purchase-menu .button-bookmarks:focus,
.purchase-menu .button-bookmarks:active {
  opacity: 0.3;
	border: solid 3px #32425c;
}

.catalog-item:hover .purchase-menu {
	display: block;
}

.catalog-item:hover .catalog-item-image {
	transform: translate(220px);
}



.brands {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brands-bosch:hover,
.brands-bosch:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-bosch:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-makita:hover,
.brands-makita:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-makita:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.brands-dewalt:hover,
.brands-dewalt:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-dewalt:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-interskol:hover,
.brands-interskol:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-interskol:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-hitachi:hover,
.brands-hitachi:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-hitachi:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-lg:hover,
.brands-lg:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-lg:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.brands-aeg:hover,
.brands-aeg:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-aeg:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-matabo:hover,
.brands-matabo:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.brands-matabo:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}


.title-brands h2 {
  padding-left: 16px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.title-brands {
  position: relative;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 10px;
  width: 920px;
  height: 89px;

  background-color: #f9f5f0;
}

.button-brands {
  width: 253px;
  position: absolute;
  right: 24px;
  top: 25px;
  display: block;
  padding: 12px 0;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 20px auto;
  padding: 0;
}

.brands-bosch {
  display: block;
  width: 126px;
  height: 37px;
  padding: 51px 47px 55px 47px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-makita {
  display: block;
  width: 123px;
  height: 40px;
  padding: 50px 49px 55px 48px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-dewalt {
  display: block;
  width: 146px;
  height: 44px;
  padding: 48px 37px 53px 37px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-interskol {
  display: block;
  width: 200px;
  height: 88px;
  padding: 21px 11px 36px 9px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.brands-hitachi {
  display: block;
  width: 169px;
  height: 31px;
  padding: 58px 23px 56px 28px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-lg {
  display: block;
  width: 121px;
  height: 73px;
  padding: 35px 51px 37px 48px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-aeg {
  display: block;
  width: 151px;
  height: 96px;
  padding: 23px 34px 26px 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands-matabo {
  display: block;
  width: 204px;
  height: 69px;
  padding: 34px 6px 42px 10px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

  .services-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
  }
  .dervices-wrapper{
    width: 100%;
    background-color: #f4f7f9;
  }

.services {
	background-color: #f4f7f9;
	padding: 0;
	padding-top: 65px;
	margin-top: 65px;
	margin-bottom: 79px;
}
.services h2,
.about-technomart h2 {
	font-family: "Cuprum";
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.services h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: left;
	color: #32425c;
	margin: 0;
	margin-top: -2px;
	margin-bottom: 24px;
}
.services p,
.about-technomart p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin: 0;
	padding: 0;
}

.services ul {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	font-size: 0px;
}
.about-technomart ul {
	list-style: none;
	color: #000000;
	font-size: 18px;
	line-height: 20px;
}

.services-list {
	position: relative;
}
.services-list::after {
	content: "";
    position: absolute;
    right: 0;
    top: -40px;
    width: 10px;
    height: 250px;
    background: url(../img/services-shadow.png) no-repeat;
}
.services-list a {
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
	vertical-align: middle;
	background-color: #32425c;
	color: #ffffff;
}
.services-list a:hover {
	background-color: #293449;
}
.services-list a:active {
	background-color: #ffffff;
	color: #32425c;
}

.services .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.services ul {
	margin: 0;
	padding: 0;
}
.services-header {
	margin-bottom: 72px;
	width: 400px;
}
.services-list-block {
	font-size: 0px;
}
.services-list label {
	display: block;
    margin: 0;
    padding: 15px 0 17px 22px;
    width: 218px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    color: white;
    background-color: #32425c;
    -webkit-box-shadow: inset 0 1px 0 0 #405069, inset 0 -1px 0 0 #293449;
            box-shadow: inset 0 1px 0 0 #405069, inset 0 -1px 0 0 #293449;
    cursor: pointer;
}
.services-list label:hover {
	background-color: #293449;
}
.services-list label:active {
	background-color: white;
	color: #32425c;
    -webkit-box-shadow: none;
            box-shadow: none;
}
#services-1:checked ~ .services-list label[for=services-1],
#services-2:checked ~ .services-list label[for=services-2],
#services-3:checked ~ .services-list label[for=services-3] {
    background-color: white;
	color: #32425c;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.services-right-block {
	display: inline-block;
	margin-left: 80px;
	vertical-align: top;
	width: 620px;
}
.about-technomart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 86px;
}
.services-right-block .services-delivery,
.services-right-block .services-warranty,
.services-right-block .services-credit {
	display: none;
	min-height: 256px;
	padding-bottom: 30px;
}
.services-delivery p {
	width: 275px;
}
.services-warranty p {
	width: 350px;
}
.services-credit p {
	width: 300px;
}
/* ______________ТРИ СЛОЯ ДЛЯ ПЕРЕКЛЮЧЕНИЯ ВИДИМОСТИ УСЛУГ_______________ */
#services-1:checked ~ .services-right-block .services-delivery {
	display: block;
	background: url("../img/slider-delivery.png") no-repeat 152px 25px;
}
#services-2:checked ~ .services-right-block  .services-warranty {
	display: block;
	background: url("../img/slider-guarantee.png") no-repeat 152px 0;
}
#services-3:checked ~  .services-right-block .services-credit {
	display: block;
	background: url("../img/slider-credit.png") no-repeat 152px 0;
}

.services-credit .button {
	min-width: 195px;
	margin-top: 30px;
}
.about-technomart h2 {
	margin: 0;
	margin-bottom: 22px;
	letter-spacing: -0.1px;
}
.about-left-column p {
	margin: 0;
	margin-top: 3px;
	margin-bottom: 21px;
}
.about-left-column .wideblock {
	width: 550px;
}
.about-right-column p {
	margin: 0;
	margin-top: 3px;
	margin-bottom: 33px;
}
.about-left-column,
.about-right-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.about-left-column {
	width: 550px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.about-left-column .narrowblock {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	width: 420px;
}
.about-left-column ul {
	margin: 0;
	padding: 0;
	padding-left: 36px;
}
.about-left-column li {
	position: relative;
	margin-bottom: 20px;
}
.about-left-column li::before {
	content: "";
	position: absolute;
	width: 25px;
    height: 2px;
    top: 9px;
    left: -36px;
    background-color: #fb565a;
}
.about-right-column p {
	width: 200px;
}
.about-left-column .button {
	margin-top: auto;
	min-width: 220px;
}
.about-right-column .button {
	margin-top: 35px;
}

.filters-and-catalog {
	margin-top: 20px;
	margin-bottom: 59px;
}

.filters-and-catalog .container {
	display: flex;
	justify-content: space-between;
}

.filters-and-catalog .filters {
	width: 220px;
}

.filters-and-catalog .catalog {
	width: 700px;
}

.filters-and-catalog h2 {
	font-size: 13px;
	line-height: 18px;
}

.breadcrumbs {
	display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

	margin-right: 45px;

	letter-spacing: 1px;
}

.breadcrumbs a {
	line-height: 18px;
}

.breadcrumbs a,
.breadcrumbs li:last-child {
	color: inherit;
	text-transform: uppercase;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
	top: 4px;
	right: -28px;

  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.svg") no-repeat;
}

.breadcrumbs .current::after {
	display: none;
}

.breadcrumbs-item:first-child a {
	display: block;
	width: 8px;
}

.breadcrumbs-item:first-child a::before {
	content: "";

	position: absolute;
	width: 14px;
	height: 12px;

	background: url("../img/icon-home.svg") no-repeat;

	transform: translate(-2px, 4px);
}

.breadcrumbs:first-child a:focus::before {
	outline: auto;
	outline-color: #4d90fe;
}

.page-title {
	padding: 30px 0 29px 30px;
	margin: 16px 0 0 0;

	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;

	background-color: #f2f6f8;
}

.filters-and-catalog .filters-title {
	margin: 0;
	padding: 10px 20px;

	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	color: inherit;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: -1px;

	border-radius: 4px;

	background-color: #f7f3ec;
}

.parameter-filter fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.parameter-filter legend {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.parameter-filter ul {
	padding: 0;
	margin: 0;
	padding-left: 35px;
	margin-top: 14px;

	list-style: none;
	font-family: "PTSans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.parameter-filter input:disabled + label {
	color: rgba(0, 0, 0, 0.5);
}

.parameter-filter .filter-button {
	margin-top: 57px;
	padding: 10px 35px;

	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: inherit;

	border: solid 1px #e5e5e5;
	border-radius: 4px;

  background-color: #ffffff;
}

.parameter-filter .filter-button:hover {
	border-color: #bdc6ca;
	cursor: pointer;
}

.parameter-filter .filter-button:focus,
.parameter-filter .filter-button:active {
	border-color: #ee3643;
	outline: none;
}

.parameter-filter .price-range {
	position: relative;
	display: inline-block;

	width: 220px;
	height: 80px;

	border-radius: 4px;
	background-color: #f7f3ec;
}

.price-range .toggle-bar {
	margin: 39px auto;

	width: 180px;
	height: 2px;

	background-color: #d7dcde;
}

.toggle-bar .scale {
	width: 152px;
  height: 2px;
  background-color: #00cb75;
}

.price-range .min-toggle,
.price-range .max-toggle {
	position: absolute;

	width: 20px;
	height: 22px;

	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.price-range .min-toggle {
	top: 30px;
	left: 20px;
}

.price-range .max-toggle {
	top: 30px;
	right: 40px;
}

.price-input {
	display: flex;
	justify-content: space-between;

	margin-bottom: 25px;
}

.price-input span {
	align-self: center;

	font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #444444;
}

.price-input .price-input-min,
.price-input .price-input-max {
	width: 95px;
	height: 38px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	border: none;
	border-radius: 4px;

	background-color: #f7f3ec;
}

.parameter-filter .price-field,
.parameter-filter .manufacturer-field {
	border-bottom: 1px solid #e5e5e5;
}

.price-field legend {
	padding: 12px 0;
}

.manufacturer-field legend {
	padding-top: 16px;
}

.manufacturer-field-list li {
	margin-bottom: 20px;
}

.manufacturer-field-list input[type="checkbox"] {
	display: none;
}

.manufacturer-field-list label::before {
	content: "";

	position: absolute;
	width: 23px;
	height: 23px;

	background: url("../img/checkbox-off.svg") no-repeat;
	background-size: contain;

	opacity: 0.8;
	transform: translate(-35px, -2px);
}

.manufacturer-field-list label:hover::before {
	opacity: 1;
}

input[type="checkbox"]:disabled ~ label::before {
	opacity: 0.3;
}

input[type="checkbox"]:checked ~ label::before {
	width: 27px;

	background: url("../img/checkbox-on.svg") no-repeat;
	background-size: contain;
}

.rechargeable-field legend {
	padding-top: 20px;
}

.rechargeable-field-list li {
	margin-bottom: 20px;
}

.rechargeable-field-list input[type="radio"] {
	display: none;
}

.rechargeable-field-list label::before {
	content: "";

	position: absolute;
	width: 23px;
	height: 23px;

	background: url("../img/radio-off.svg") no-repeat;
	background-size: contain;

	opacity: 0.8;
	transform: translate(-35px, -2px);
}

.rechargeable-field-list label:hover::before {
	opacity: 1;
}

input[type="radio"]:disabled ~ label::before {
	opacity: 0.3;
}

input[type="radio"]:checked ~ label::before {
	width: 27px;

	background: url("../img/radio-on.svg") no-repeat;
	background-size: contain;
}

.sorting-filter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	border-radius: 4px;

	background-color: #f7f3ec;
}

.sorting-filter h2 {
	margin: 0;
	padding: 10px 20px;

	font-family: "PTSans", Arial, sans-serif;
	color: inherit;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: -1px;
}

.sorting-filter-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-left: 74px;

	width: 355px;

	list-style: none;
	letter-spacing: -0.5px;
}


.sorting-filter-list.sorting-filter-order {
	width: 60px;
	margin-left: 0px;
}

.sorting-filter-list a {
	font-family: "PTSans", Arial, sans-serif;
	color: rgba(0, 0, 0, 0.3);
	line-height: 18px;
	text-transform: uppercase;

	border-bottom: 1px dotted #fc5a8d;
}

.sorting-filter-list a:hover {
	color: inherit;
}

.sorting-filter-list a:focus {
	color: #fc5a8d;
}

.sorting-filter-order path {
	fill: #c5c5c5;
}

.sorting-filter-active path {
	fill: #ee3643;
}

.sorting-filter-order a {
	border-bottom: none;
}
.sorting-filter-order a:active path {
	fill: #ee3643;
}
.up-dir svg {
	transform: translate(1px, 1px);
}

.dawn-dir svg {
	transform: translate(-15px, 1px);

}
.paginaction-list {
	display: flex;
	justify-content: space-between;
	width: 285px;

	padding: 7px 0px;
	margin: 0;

	list-style: none;
}
.paginaction-list a {
	padding: 11px 15px;

	font-family: "PTSans", Arial, sans-serif;
	text-align: center;
	color: inherit;
	line-height: 18px;
	text-transform: uppercase;

	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

.paginaction-list a:hover {
	border-color: #bdc6ca;
}

.paginaction-list a:focus,
.paginaction-list a:active {
	border-color: #fc5a8d;
	outline: none;
}

.paginaction-item-active a {
	padding: 12px 16px;
	color: #ffffff;

	border-width: 0px;

	background-color: #ee3643;
}

.paginaction-item:last-child a {
	padding: 10px 25px;
}
.product-information {
	background-color: #f4f7f9;
}

.product-information .container {
	padding: 65px 0 68px 0;
}

.product-information h2 {
	margin-top: 0;
	margin-bottom: 26px;

	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
}

.product-information p {
	margin: 0;

	font-family: "PTSans", Arial, sans-serif;    letter-spacing: -0.3px;
}


.footer-top .container {
	display: flex;
	justify-content: space-between;

	height: 95px;
}

.footer-logo {
	height: 63px;
}

.footer-logo img {
	padding-top: 20px;
}

.footer-middle .container {
	display: flex;
	justify-content: space-between;
}

.footer-bottom .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-footer {
	background-color: #32425c;
}

.footer-navigation,
.information-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0;

	font-size: 18px;

	list-style: none;
}

.footer-navigation a {
	display: block;

	padding: 38px 30px;

	color: #f1f5f7;

	outline: none;
}

.information-menu a {
	display: block;

	padding: 0px 30px;

	outline: none;
}

.footer-navigation-item:nth-child(5n+5) a,
.footer-navigation-item:nth-child(4n+4) a {
	padding-right: 0px;
}

.footer-navigation a:hover,
.information-menu a:hover,
.footer-feedback a:hover,
.footer-developed a:hover {
	text-decoration: underline;
}

.footer-navigation a:focus {
	color: rgba(241, 245, 247, 0.5);
}

.information-menu a:focus {
	color: rgba(255, 209, 128, 0.5);
}

.information-menu a {
	color: #ffd180;
}

.footer-middle p,
.footer-middle a {
  font-size: 18px;
}

.footer-middle p {
	margin: 0;
	margin-bottom: 50px;

	color: #f3f7f8;
}

.footer-phone {
	color: #f3f7f8;
}

.footer-bottom {
	background-color: #293449;
}

.footer-bottom .footer-copyright {
	margin-top: 37px;
  margin-bottom: 34px;

	font-size: 16px;
	line-height: 18px;
	text-align: left;
	color: #ffffff;
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 130px;
	margin-top: 16px;
	margin-left: 115px;
	padding: 0;

	list-style: none;
}

.social-links a {
	display: block;

	width: 42px;
	height: 42px;

	border-radius: 50%;

  background-color: #212a3a;
}

.social-links a:hover,
.social-links a:focus,
.social-links a:active {
	background-color: #ee3643;

	outline: none;
}

.social-links .vk:before,
.social-links .fb:before,
.social-links .in:before {
	content: "";

	position: absolute;

	width: 21px;
	height: 21px;

	background-position: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	transform: translate(50%, 50%);

}

.social-links .vk:before {
	background-image: url("../img/icon-vk.svg");
}

.social-links .fb:before {
	background-image: url("../img/icon-fb.svg");
}

.social-links .in:before {
	background-image: url("../img/icon-insta.svg");
}

.footer-feedback {
	margin-left: 70px;
}

.footer-developed {
	margin-right: 14px;
}

.footer-feedback,
.footer-developed {
	font-size: 16px;
  line-height: 18px;
	color: #ffffff;
	text-align: left;
}

.footer-feedback a,
.footer-developed a {
	color: #ffd180;
}

.footer-feedback a:focus,
.footer-developed a:focus {
	color: #ee3643;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.modal-show {
  display: block;
}
.modal {
  display: none;
  width: 620px;
  height: 430px;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 150px;
  padding-left: 80px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  border-top: 7px solid #ee3643;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.modal-authorization {
	width: 620px;
	margin: 0 auto;
	border-top: 7px solid #ff5256;
	background-color: #fff;
	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}
.modal-authorization form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.modal-authorization .form-top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 55px 80px 23px 80px;
}
.modal-authorization .form-field {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-bottom: 20px;

	width: 220px;

}
.modal-authorization .form-field:last-child {
	width: 100%;
}
.form-field label {
	margin-bottom: 10px;

	font-size: 18px;
	line-height: 18px;
}
.form-field textarea {
	box-sizing: border-box;
	padding-left: 16px;

	width: 100%;

	font-family: "PTSans", Arial, sans-serif;
	color: #a9a9a9;

	border: solid 2px #dee3e4;
	border-radius: 4px;
}

.form-field input[type="text"] {
	height: 38px;
}

.form-field input[type="text"]:hover,
.form-field textarea:hover {
	border-color: #b5b5b5;
}

.form-field input[type="text"]:focus,
.form-field input[type="text"]:active,
.form-field textarea:focus,
.form-field textarea:active {
	border-color: #ff5256;
	outline: none;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
	padding-top: 10px;
	color: #a9a9a9;
}

.form-bottom {
	padding: 37px 80px;

	background-color: #f4f4f4
}

.form-bottom .button-red {
	width: 100%;
}
